<section class="py-5 login">
  <div class="container">
    <div class="row justify-content-center align-items-center d-flex">
      <div class="col-md-5">
        <div class="box">
          <form #heroForm="ngForm" (submit)="forget(heroForm)">
            <h3>Enter Your Email</h3>
            <input
              type="text"
              class="form-control"
              required
              name="email"
              id="email"
              [(ngModel)]="data.email"
            />
            <div class="py-4 justify-content-center align-items-center d-flex">
              <button class="btn btn-dark text-center">submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <img
          src="../../../../assets/login/auth.png"
          alt="login"
          class="w-100"
        />
      </div>
    </div>
  </div>
</section>
