<section class="py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center gap-1">
      <div class="col-md-3" *ngFor="let item of data" routerLink="/Details/{{item.id}}">
        <div class="box card">
          <img [src]="item.imageCover" alt="" class="w-100" />
          <div class="d-flex justify-content-evenly align-items-center">
            <h1>{{ item.price }}$</h1>
            <i class='bx bxs-cart fs-1' style='color:#49c200' ></i>
          </div>
          <p class="py-2 text-center">{{ item.title }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
