<section class="py-5 login">
  <div class="container">
    <div class="row justify-content-center align-items-center d-flex">
      <div class="col-md-5">
        <div class="box">
          <form #heroForm="ngForm" (submit)="changepassword(heroForm)">
            <label for="email"> CurrentPassword :</label>

            <div class="py-1">
              <input
                type="password"
                class="form-control"
                id="currentPassword"
                name="currentPassword"
                #currentPassword="ngModel"
                required
                [(ngModel)]="formData3.currentPassword"
                [ngClass]="{
                  'form-control': true,
                  'is-invalid':
                    currentPassword.touched && currentPassword.invalid
                }"
              />
            </div>
            <div
              [ngClass]="{
                alert: true,
                'alert-danger': true,
                'text-center': true,
                'w-100': true,
                'd-none': currentPassword.untouched || currentPassword.valid
              }"
            >
              <small *ngIf="currentPassword.errors?.['required']">
                CurrentPassword is Require</small
              >
            </div>
            <label for="Password">New Password:</label>
            <div class="py-1">
              <input
                type="text"
                class="form-control"
                #password="ngModel"
                name="password"
                id="password"
                required
                minlength="5"
                maxlength="10"
                [(ngModel)]="formData3.password"
                (input)="validatePaaword(password.value, rePassword.value)"
                [ngClass]="{
                  'form-control': true,
                  'is-invalid': password.touched && password.invalid
                }"
              />
            </div>
            <div
              [ngClass]="{
                alert: true,
                'alert-danger': true,
                'text-center': true,
                'w-100': true,
                'd-none': password.untouched || password.valid
              }"
            >
              <small *ngIf="password.errors?.['required']">
                Password is Require</small
              >
              <small *ngIf="password.errors?.['minlength']">
                maxlength is 5 Namber</small
              >
              <small *ngIf="password.errors?.['maxlength']">
                maxlength is 10 Namber</small
              >
            </div>
            <label for="Confirm">Confirm Password:</label>
            <div class="py-1">
              <input
                type="text"
                class="form-control"
                #rePassword="ngModel"
                name="rePassword"
                id="rePassword"
                required
                [(ngModel)]="formData3.rePassword"
                (input)="validatePaaword(password.value, rePassword.value)"
                [ngClass]="{
                  'form-control': true,
                  'is-invalid': rePassword.touched && rePassword.invalid
                }"
              />
            </div>
            <div
              [ngClass]="{
                alert: true,
                'alert-danger': true,
                'text-center': true,
                'w-100': true,
                'd-none': password.untouched || rePassword.valid
              }"
            >
              <small *ngIf="rePassword.errors?.['required']">
                Confirm Password is Require</small
              >
              <small *ngIf="passwordHasError !== rePassword.touched">
                paaword dont match</small
              >
            </div>

            <div class="justify-content-center align-items-center d-flex py-4">
              <button class="btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <img
          src="../../../../assets/login/My password-pana.png"
          alt="login"
          class="w-100"
        />
      </div>
    </div>
  </div>
</section>
